.idea
venv
.terraform

node_modules
package
build
coverage

__pycache__

*.png
*.zip
*.env
*.json

*.pub
*.pem

!package.json
!package-lock.json
!.eslintrc.json
!tsconfig*.json
!renovate.json

!test_map.png

!cypress.json