name: IntegrationTest

on:
  workflow_call:
    inputs:
      node-version:
        default: "18"
        required: false
        type: string
    secrets:
      discord_token:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      # These aren't actually secret, they're just for testing purposes.
      PUBLIC_KEY: a58293d7fa04d53ab90108be275a87fe890eece595962273a93e1f87d398df74
      CYPRESS_PRIVATE_KEY: 814d1a8737ba28a2ae72e39cac46468002525a64e4f002d7b52dd06efb9dc4b8a58293d7fa04d53ab90108be275a87fe890eece595962273a93e1f87d398df74
      CYPRESS_MAP_BUCKET: carto-bot-maps
    steps:
      - uses: actions/checkout@v3

      - uses: hashicorp/setup-terraform@v2

      - name: Set up Node.JS
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
          cache: npm

      - name: Install Node dependencies
        run: npm ci

      - name: Download packages
        uses: actions/download-artifact@v3
        with:
          name: packages
          path: packages

      - name: Start Localstack
        working-directory: packages/integration
        run: docker-compose up -d

      - name: Build test environment
        working-directory: packages/terraform/localstack
        run: |
          terraform init
          terraform apply \
            -var="discord_public_key=${{ env.PUBLIC_KEY }}" \
            -var="discord_token=${{ secrets.discord_token }}" \
            -var="discord_base_url=http://172.17.0.1:3000" \
            -auto-approve

      - name: Run tests
        uses: cypress-io/github-action@v4
        with:
          build: npm run setup -w @carto/integration
          start: npm start -w @carto/mock-discord
          project: packages/integration

      - name: Upload screenshots
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-snapshots
          path: packages/integration/cypress/screenshots

      - name: Print docker-compose logs
        if: failure()
        working-directory: packages/integration
        run: docker-compose logs

      - name: Stop Localstack
        working-directory: packages/integration
        run: docker-compose down
